@model List<Cours>

<h2>Mes Cours</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Heure Début</th>
            <th>Heure Fin</th>
            <th>Module</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cours in Model)
        {
            <tr>
                <td>@cours.Date.ToShortDateString()</td>
                <td>@cours.HeureDebut</td>
                <td>@cours.HeureFin</td>
                <td>@cours.Module</td>
            </tr>
        }
    </tbody>
</table>
