@model List<Absence>

<h2>Mes Absences</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Cours</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var absence in Model)
        {
            <tr>
                <td>@absence.Date.ToShortDateString()</td>
                <td>@absence.Cours.Module</td>
            </tr>
        }
    </tbody>
</table>
